.company {
  margin-bottom: 60px;
}

.company__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
  margin-top: -5px;
}

.company__info {
  width: ~"calc(100% - 500px)";
}

.company__btn {
  margin-top: 30px;
}

.company__img {
  width: 500px;
}

.company__more {
  margin-left: auto;
  margin-right: auto;
}

.company__slider {
  margin-bottom: 30px;
}

.company__slide {
  box-sizing: border-box;
  height: auto;
  
  img {
    display: block;
  }
}

.company__link {
  display: block;
  height: 100%;
  
  span {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    .transition();
  }
  
  &:hover,
  &:active {
    span {
      color: @blue;
      .transition();
    }
  }
}

.company__pic {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  
  img {
    display: block;
    flex: 0 0 auto;
  }
}